body {
  background-color: white;
  margin: 0;
  height: 100%;
}

h3 {
  color:#cd5360;
}
    
input {
  outline: none;
}

button:focus {outline:0;}

li {
  font-size: 1.5em;
}

.topDiv {
  background-color: #286da8;
  height: 50px; 
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b37d4e;
  border-bottom-width: 1px;
  display: table;
  width: 100%;
}

#icon {
  width: 30px;
  float: left;
  padding-left: 40px;
  display: table-cell;
  margin-top: 10px;
  padding-right: 5px;
}


#title {
  color: white;
  font-size: 2em;
  font-family: arial;
  display: table-cell;
  text-align:center;
  vertical-align: center;
  width: 70%;
  padding-left: 50px;

}

#save_bttn {
  color: white;
  background-color: #286da8;
  border-style: none;
  float: right;
  margin-right: 30px;
  display: table-cell;
  margin-top: 5px;
}

#where {
  padding-bottom: 10px;
}

#where_text {
  margin-left: 10px;
  font-size: 1em;
  margin-bottom: 0px;
}

#city_input {
  width: 20%;
  height: 25px;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  color:black;
  margin-left: 10px;
  margin-top: -20px;
}

.add-btn {
  height: 30px;
  margin-left: -4px;
  background-color: #286da8;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  border-color: black;
}

.cityDiv {
  background-color:#fdf5e6;
  border-color: #b37d4e;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  overflow: auto;
  height: auto;
  clear: both;
  width: 98%;
  margin: 0 auto;
  margin-top:5px;
  padding-bottom: 10px;
  padding-bottom: 10px;
}

.leftDiv {
  float: left;
  width: 30%;
}

#cityName {
  color: black;
  font-size: 1.5em;
  float: left;
  margin-left: 10px;
}

.rightDiv {
  float: left;
  width: 70%;
}

#delete_bttn {
  float: right;
  background-color: #fdf5e6;
  border-style: none;
  font-size: 1.5em;
}

#formDiv {
  clear:both;
}

.input2 {
  width: 60%;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border-color: #b37d4e;
  border-radius: 5px;
  border-width:1px;
}

#add_attraction_bttn {
  float: left;
  height: 26px;
  background-color: #286da8;
  color: white;
  border-color: #b37d4e;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

#attraction_header {
 width: 50%;
}

#attraction_name {
float: left;
padding-bottom: 10px;
}

#attractionIcon {
  width: 30px;
  padding-left: 20px;
  margin-top: 22px;
}

#attraction_details {
  font-size: .6em;
  background-color: white;
  width: 60%;
  height: auto;
  border-radius: 5px;
  border-style: solid;
  border-color: #b37d4e;
  border-width: 1px;
  text-align: left;
  margin-bottom: 10px;
}


.details {
  padding-left: 5px;
  text-align: left;
  margin-bottom: 2px;
}

#rating {
  text-align: left;
}

#list_item {
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
   color: #DEB887;

}

#cityName {
  float: left;
  margin-left: 10px;
  color: white;
}

#want_to_see {
  float: left;
  font-size: 1em;
  margin-left: -100px;
}

#clear_bttn {
  float: right;
  margin-top: -5px;
  margin-right: 5px;
  background-color: #cd5360;
  border-color: #802A2A;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;

}

.container {
  height: 100%;
}