<br>
<h1>Travel Planner JS</h1>
<div class="topDiv">
  <h3>Where Do You Want To Go?</h3>
  <form>
    <input id="0" class="input" type='text' placeholder="Add a City..." ng-model="inputCity"></input>
    <button class="add-btn" ng-click="addCity()">Add</button>
  </form>
</div>

<div class="cityDiv" ng-repeat="city in cities track by $index"> 
  <button id="delete_bttn" ng-click="deleteCity($index)">X</button>
  <div class="leftDiv">
    <div>
    <h2 id="cityName">{{city.name}}</h2>
    </div>
    <div id="formDiv">
      <form name="attractionForm"> 
        <input class="input2" type='text' ng-model="inputAttraction" placeholder="Add an attraction..."></input>
        <button id="add_attraction_bttn" ng-click="addAttraction($index, inputAttraction)">Add</button>
      </form>
    </div>
  </div>  
  <div class="rightDiv">
  <ul>
    <li style="list-style: none;", ng-repeat="x in cities[$index].attractions track by $index">{{city.attractions[$index]}}</li>
  <ul>     
  </div>
  <button id="clear_bttn" ng-click="deleteAttraction($index)">Clear Attractions</button>
</div>
  <button id="save_bttn" ng-click="insertData()">Save Itinerary</button>
